.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

.header-text {
  color: MediumAquamarine;
  padding-left: 5px;
  flex: 5;
}

li {
  list-style: none;
  padding: 5px;
  display: inline-block;
  flex: 1;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column-large {
  width: 630px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.photo-container {
  background-image: url(../img-story-main.png);
  height: 300px;
  display: flex;
  align-items: center;
}
.photo-container h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0;
  text-align: center;
}

.story-text {
font-family: Georgia;
font-size: 17px;
color: black;
}


.story-text-two {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
  height: 300px;

}

.story-text-two h1{
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
}

.photo-container-two {
  background-image: url(../img-story-2.png);
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;

}
 .photo-container-two h1 {
   font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
   text-align: center;
   margin: 0;
   text-align: center;
 }


.photo-container-three {
  background-image: url(../img-story-3.png);
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
}

.photo-container-three h1{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0;
  text-align: center;

}


.column-medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}


.photo-medium {
  background-image: url(../img-story-1.png);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
}
.story-text h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;

}

.photo-medium h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0;
}

.column-small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.news-bite h1 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bite ul {
  list-style: none;
  background-color: WhiteSmoke;
  padding-left: 0;
}
.sidebar {
border-bottom: 1px solid DimGray;
color: DimGray;
padding-left: 20px;
padding-right: 0;
padding-top: 10px;
padding-bottom: 10px;
font-family: Verdana;
font-size: 12px;
display: block;

}
